<h1><%= @task.title %></h1>
<input type="checkbox" name="completed" id="completed" <%= @task.completed ? "checked" : "" %>>
<p><%= @task.details %></p>
<%= link_to "⬅️ Back to tasks list", tasks_path%>
